<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="static/logo.png" type="image/x-icon" />
    <title>DroneZone</title>
    <link rel="stylesheet" href="/static/styles.css">
    <style>
        .category-section {
            background-size: cover;
            background-position: center;
            padding: 20px;
        }
    </style>
</head>
<body>
    <div class="content-wrap">
        <header>
            <a href="/"><img src="static/logo.png" alt="Logo" class="logo"></a>
            <nav>
                <ul>
                    <li><a href="/">Accueil</a></li>
                    <li><a href="/newPost">Nouveau post</a></li>
                    <li><a href="/categories">Catégories</a></li>
                    <li><a href="/profil">Profil</a></li>
                    <li><a href="/logout">Se deconnecter</a></li>
                </ul>
            </nav>
        </header>

        <section class="category-section" style="background-image: url('{{.ImagePath}}');">
            <section class="welcome">
                <h1>Categorie : {{.Name}}</h1>
                <p>Ici vous trouverez les differents <span>posts</span> où<br>
                les autres <span>utilisateurs</span> discutent à propos de <span>{{.Name}}</span> !</p>
                <button><a href="/newPost">Créer un post</a></button>
            </section>
        </section>

        <section class="categories">
            <h2>Posts</h2>
            <div class="category-list">
                {{range .Posts}}
                    {{if .WithPicture}}
                    <div class="category-item">
                        <img src="{{.ImagePath}}" alt="Drone 1">
                        <h3>{{.Title}}</h3>
                        <button><a href="/post?id={{.ID}}">Voir plus</a></button>
                    </div>
                    {{else}}
                    <div class="category-item">
                        <h3>{{.Title}}</h3>
                        <p>{{.Content}}</p>
                        <button><a href="/post?id={{.ID}}">Voir plus</a></button>
                    </div>
                    {{end}}
                {{end}}
            </div>
        </section>
    </div>
    {{if .IsAdmin}}
        <li><a href="/deleteCategorie?id={{.ID}}"> <strong>Supprimer le post</strong></a></li>
    {{end}}

    <footer>
        <p>&copy; 2024 DroneZone. Tous droits réservés.</p>
    </footer>
</body>
</html>
