<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="static/logo.png" type="image/x-icon" />
    <title>DroneZone</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="content-wrap">
        <header>
            <a href="/"><img src="static/logo.png" alt="Logo" class="logo"></a>
            <nav>
                <ul>
                    <li><a href="/">Accueil</a></li>
                    <li><a href="/newPost">Nouveau post</a></li>
                    <li><a href="/categories">Catégories</a></li>
                    <li><a href="/profil">Profil</a></li>
                    <li><a href="/logout">Se deconnecter</a></li>
                </ul>
            </nav>
        </header>
        <section class="welcome">
            <h1>{{.Title}}</h1>
            <p>{{.Content}}</p>
            <p><small>Posted by {{.Username}} in {{.Categories}}</small></p>
        </section>

        <div class="comments-section">
            <h2>Commentaires</h2>
            {{range .Comments}}
                <div class="comment">
                    <h3>{{.Username}}</h3>
                    <p>{{.Content}}</p>
                </div>
            {{end}}
            <form action="/post?id={{.ID}}" method="POST">
                <input type="text" id="comment" name="comment" class="comment-input" placeholder="écrire un commentaire...">
            </form>
        </div>

        {{if .IsAdmin}}
            <li><a href="/deletePost?id={{.ID}}"> <strong>Supprimer le post</strong></a></li>
        {{end}}
    </div>
    <footer class="black">
        <p>&copy; 2024 Mon Forum. Tous droits réservés.</p>
    </footer>
</body>
</html>
